[submodule "SmartLocate.Backend"]
	path = SmartLocate.Backend
	url = https://github.com/CloudMavericks/SmartLocate.Backend.git
[submodule "SmartLocate.Frontend"]
	path = SmartLocate.Frontend
	url = https://github.com/CloudMavericks/SmartLocate.Frontend.git
[submodule "SmartLocate.Admin"]
	path = SmartLocate.Admin
	url = https://github.com/CloudMavericks/SmartLocate.Admin.git
